class Pboss < Formula
  desc "Universal, production-grade process manager built on Bun native APIs"
  homepage "https://procboss.com"
  url "https://github.com/procboss/pboss/archive/refs/tags/v{{VERSION}}.tar.gz"
  version "{{VERSION}}"
  license "GPL-3.0-only"

  depends_on "bun" => :build

  def install
    system "bun", "install"
    system "bun", "build", "--compile", "--minify", "--bytecode", "./src/index.ts", "--outfile", bin/"pboss"
  end

  # Record the install channel so `pboss upgrade` upgrades through brew
  # (brew upgrade pboss) instead of spawning a second CLI from npm/universal.
  def post_install
    stamp_dir = File.join(Dir.home, ".pboss")
    FileUtils.mkdir_p(stamp_dir)
    File.write(File.join(stamp_dir, "channel.json"), {
      channel: "brew", by: "homebrew", stampedAt: Time.now.to_i
    }.to_json + "\n")
  end

  test do
    assert_match "pboss", shell_output("#{bin}/pboss --version")
  end
end
